.weekly-section {
    margin-top: 1rem;
    background-color: #fff;
    border-radius: .6rem;
    font-size: .875rem;
    overflow-x: auto;
}

.weekday-extra-info-wrapper {
    display: flex;
    gap: .5rem;
}

.weekly-title {
    padding: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.weekday-extra-info {
    background-color: rgb(251, 176, 255);
    padding: 1rem;
    display: grid;
    gap: .5rem;
    border-radius: .6rem;
}

.weekday-details {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.weekday-weather-icon {
    width: 2rem;
    height: 2rem;
}

.weekday-extremes {
    display: grid;
    gap: .5rem;
}

.weekday-high {
    font-weight: 600;
}

.weekday-date,
.weekday-low {
    font-weight: 500;
}