.weekly-section {
    background-color: #fff;
    border-radius: .6rem;
    font-size: .875rem;
    overflow-x: auto;
    max-width: 625px;
    padding: 0 1rem 1rem;
    height: max-content;
    max-height: 347px;
}

.weekday-extra-info-wrapper {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
}

.weekly-title {
    padding: 1rem 0;
    font-weight: 500;
    text-transform: uppercase;
}

.weekday-extra-info {
    background-color: rgb(251, 176, 255);
    padding: 1rem;
    display: grid;
    gap: .5rem;
    border-radius: .6rem;
    min-width: 100px;
    width: 115px;
    height: 115px;
}

.weekday-details {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.weekday-weather-icon {
    width: 2rem;
    height: 2rem;
}

.weekday-extremes {
    display: grid;
    gap: .5rem;
}

.weekday-high {
    font-weight: 600;
}

.weekday-date,
.weekday-low {
    font-weight: 500;
}

@media (min-width: 700px) {
    .weekly-section {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        overflow: auto;
    }

    .weekday-extra-info-wrapper {
        display: flex;
        gap: .5rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0 .25rem;
    }
}