:root {
  --header-bg-color: #ccd8e1;
  --unit-btn-color: rgb(255, 212, 38);
  --unit-btn-hover-color: rgb(255, 212, 38);
  --main-bg-color: white;
  --today-bg-color: rgba(255, 255, 255, 0.7);
  --today-weather-bg-color: rgba(255, 255, 255, .4);
  --toady-extra-info-color: rgba(255, 255, 255, .4);
  --daily-bg-color: rgba(255, 255, 255, 0.7);
  --daily-card-color: rgba(146, 237, 255, 1);
  --hourly-bg-color: rgba(255, 255, 255, 0.7);
  --hourly-card-color: #003c69;
  --footer-color: rgba(255, 255, 255, 0);

  --header-text-color: rgb(0, 0, 0);
  --unit-btn-text-color: rgb(0, 0, 0);
  --unit-btn-hover-text-color: rgb(116, 116, 116);
  --hourly-card-text-color: white;
  --hourly-text-color: black;
  --today-text-color: black;
  --today-weather-text-color: black;
  --today-extra-info-text-color: #333;
  --daily-text-color: black;
  --daily-card-text-color: black;
  --location-text-color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}